/*--------Min Width----------------------*/

@media(min-width: 769px) {
  .cources {
    &__content {
      &-img {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
      }

      &-text {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        padding-top: 0;
        padding-left: 40px;

      }
    }
  }
}

@media(min-width: 1046px) {
  .cources {
    &__cards {
      grid-template-columns: 1fr 1fr;
      grid-gap: 35px 30px;
    }

  }
}

@media(min-width: 1260px) {
  .cources {
    &__content {

      &-text {
        padding-top: 50px;
        padding-left: 91px;
      }
    }
  }
}


/*------Max width---------*/
@media (max-width: 1045px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
    width: 50%;
  }

  .header__burger::after {
    bottom: 0;
    width: 70%;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 70px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 95px;
    z-index: 4;
    padding-top: 22px;
  }

  .header__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    padding-top: 9px;
    padding-bottom: 20px;
  }

  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__list {
    display: block;
    text-align: center;

    li {
      margin-left: 0;

      &:not(:last-child) {
        margin: 0 0 20px 0;
      }

      a {
        font-size: 30px;
      }
    }
  }

  .header {
    ._container {
      padding: 0 15px;
    }

    &__text {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 68%;
      flex: 0 0 68%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }

    &__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;

      &-menu.open {
        left: 0;
      }
    }

    &__phone {
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5;
      padding: 0 15px;
      border: none;
    }

    &__lang {
      display: none;
    }

    hr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;
      margin: 9px 0 19px 0;
      border: 1px solid rgba(0, 0, 0, 0.07);
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      z-index: 3;
    }
  }

  .first {
    &__content {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
      flex: 0 1 75%;
    }

    &__img {
      height: 100%;
      opacity: .5;
    }
  }

  .header__menu.active~.header__lang {

    position: absolute;
    top: 132%;
    left: 50%;
    z-index: 5;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

  }

}

@media(max-width: 992px) {
  .cources {
    &__content {

      &-text {

        &--title {
          font-size: 40px;
        }
      }
    }
  }
}

@media(max-width:768px) {
  .first {
    &__img {
      left: 0;
      opacity: .1;

      img {
        height: 100%;
      }
    }

    &__content {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      padding-top: 93px;
    }
  }

  .cources {
    &__content {

      &-text {
        margin-bottom: 31px;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;

        &--title {
          font-size: 36px;
        }
      }
    }
  }
}

@media(max-width:560px) {
  .header {
    &__text {
      text-align: start;
    }

  }

  .first {
    &__title {
      font-size: 38px;
    }

    &__text {
      font-size: 17px;
    }
  }
  .cources{
    &__card{
      flex-direction: column;
      &-img{
        text-align: center;
        flex: 0 1 100%;
        img{
          width: 100%;
          border-radius: 0;
        }
      }
    }
  }
}

@media(max-width:375px) {
  .header {
    &__phone {
      margin-left: 0;
      padding: 0;

      &-title {
        font-size: 13px;
      }
    }

    &__burger {
      margin-left: auto;
    }
  }
}

@media(max-width:345px) {
  .header {
    &__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      display: inline-block;
      text-align: center;
    }

    &__text {
      &-title {
        font-size: 16px;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 68%;
        flex: 1 0 68%;
      }
    }

    &__btn {
      &-link {
        font-size: 14px;
        min-width: 140px;

        svg {
          right: 8px;
        }
      }
    }

    &__phone {
      margin-left: auto;
    }
  }
}